<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <a routerLink="/dashboard/listTask"
         class="list-group-item list-group-item-action"
         routerLinkActive="active"
      >
      <li class="d-flex justify-content-between align-items-center">
        To Do
        <span class="badge bg-primary rounded-pill">14</span>
      </li>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <li class="d-flex justify-content-between align-items-center">
          Done
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
      </a>
      <a routerLink="/dashboard/addTask"
         class="list-group-item list-group-item-action"
         routerLinkActive="active"
      >
        <li class="d-flex justify-content-between align-items-center">
          Add
        </li>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <li class="d-flex justify-content-between align-items-center">
          Logout
        </li>
      </a>
    </ul>
  </div>
</div>
