.container {
  max-width: 500px;
}

/* This is necessary because, by default, the container will only be as tall as its contents. */
.setContainerHeight {
  height: 100vh;
}

.fade-out {
  opacity: 1;
  transition: opacity 1s;
}

.fade-out.fade {
  opacity: 0;
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: -85px;
  left: 15px;
  width: 470px;
}
