<div class="d-flex justify-content-center align-items-center setContainerHeight">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <button type="submit" class="btn btn-primary"
          [disabled]="loginForm.invalid"
          >Sign in</button>
          <a routerLink="/register" class="btn btn-secondary ms-3">Register</a>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
