<div class="d-flex justify-content-center align-items-center setContainerHeight">
  <div class="container card p-5">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="inputFName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputFName" formControlName="firstName"
                   [ngClass]="{'is-invalid' : (registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched)}"
            >
          </div>
          <div class="mb-3">
            <label for="inputLName" class="form-label">Last Name</label>
            <input type="text" class="form-control is-invalid" id="inputLName" formControlName="lastName"
                   [ngClass]="{'is-invalid' : (registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched)}"
            >
          </div>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" formControlName="email"
                   [ngClass]="{'is-invalid' : (registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched)}"
            >
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password"
                   [ngClass]="{'is-invalid' : (registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched)}"
            >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a routerLink="" class="btn btn-secondary ms-3">Return</a>
        </form>
      </div>
    </div>
  </div>
</div>
