<div class="d-flex justify-content-center align-items-center setContainerHeight">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
        <div class="card-header">
          Registration Form
        </div>
        <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="row">
          <div class="col-md-6">
            <label for="inputFName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputFName" formControlName="firstName"
                   [ngClass]="getGenericInputClasses('firstName')"
                   #inputFirstName
            >
          </div>
          <div class="col-md-6">
            <label for="inputLName" class="form-label">Last Name</label>
            <input type="text" class="form-control is-invalid" id="inputLName" formControlName="lastName"
                   [ngClass]="getGenericInputClasses('lastName')"
                   #inputLastName>
          </div>
          <div class="col-12 mt-2">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" formControlName="email"
                   [ngClass]="getEmailInputClasses()"
                   #inputEmail
            >
            <div class="form-text"
                 *ngIf="registrationForm.get('email')?.getError('emailIsAlreadyInDb')"
            >Already registered email. Please choose another one.
            </div>
          </div>
          <div formGroupName="passwords">
            <div class="col-12 mt-2">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password"
                     [ngClass]="getGenericInputClasses('passwords.password')"
                     #inputPassword
              >
            </div>
            <div class="col-12 mt-2">
              <label for="confirmPassword" class="form-label">Re-Enter Password</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                     [ngClass]="getConfirmPasswordInputClasses()"
                     #inputConfirmPassword
              >
              <div class="form-text"
                   *ngIf="(registrationForm.get('passwords')?.getError('passwordMismatch') && registrationForm.get('passwords.confirmPassword')?.touched)"
              >Passwords do not match!
              </div>
            </div>
          <div class="mt-3">
          <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">Submit</button>
          <a routerLink="" class="btn btn-secondary ms-3">Return</a>
          </div>
          </div>
        </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

