<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Content</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr *ngFor="let task of getCurrentTaskList(taskList); index as i">
          <th scope="row">{{i + 1 }}</th>
          <td>{{task.title}}</td>
          <td>{{task.content}}</td>
          <td *ngIf="!task.done">
            <button class="btn btn-primary" (click)="setAsDone(task)">Done</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
